
.djc_control_panel {
	background: #ffffff;
	border: 1px solid #cccccc;
	padding: 20px	
}

.djc_control_panel .cpanel-left {
	width: auto;
}

.djc_control_panel .cpanel-right {
	width: 310px; 
}

/*
 * Licence Manager
 */
.djlic_box {
	width: 280px;
	margin: 20px 30px 20px 0;
	padding-top: 140px;
	background: url(../images/lic_icon.png) top center no-repeat;
}

.cpanel .djlic_box .djlic_line {
	text-align: center;
	background: url(../images/lic_line.gif) bottom center no-repeat;
	font-size: 12px;
	text-transform: uppercase;
	color: #7e7e7e;
	line-height: 34px;
}

.cpanel .djlic_box .djlic_line.djll3 {
	background: none;
}

.cpanel .djlic_box .djlic_line.djll4 {
	background: url(../images/lic_line.gif) top center no-repeat;
}

.cpanel .djlic_box .djlic_line.djll4 a {
	color: #444444;
	font-size: 14px;
	text-decoration: underline;
}

.cpanel .djlic_box .djlic_line.djll4.update a {
	color: #ed1c24;
}

.cpanel .djlic_box .djlic_line span {
	display: inline;
	color: #444444;
	font-weight: bold;
}

.cpanel .djlic_box .djlic_line.djll1 span {
	font-size: 15px;
}

.cpanel .djlic_box .djlic_line.djll2 span {
	font-size: 14px;
}

.cpanel .djlic_box .djlic_line.djll3 span {
	font-size: 15px;
}

.cpanel .djlic_box .djlic_invalid a {
	background: #fbd2d3 url(../images/lic_icon_invalid.gif) 7px 7px
		no-repeat;
	border: 1px solid #ed1c24;
	border-radius: 15px;
	padding: 10px 10px 10px 30px;
	color: #444444;
	text-align: center;
	display: block;
}

.cpanel .djlic_box .djlic_valid a:hover,.cpanel .djlic_box .djlic_invalid a:hover
	{
	text-decoration: none !important;
}

.cpanel .djlic_box .djlic_invalid .djlic_iline1 {
	font-size: 14px;
	text-transform: uppercase;
}

.cpanel .djlic_box .djlic_invalid .djlic_iline2 {
	font-size: 14px;
	color: #ed1c24;
	margin: 12px 0;
}

.cpanel .djlic_box .djlic_invalid .djlic_iline3 {
	font-size: 9px;
	text-transform: uppercase;
}

.cpanel .djlic_box .djlic_valid a {
	background: #ecf3d2 url(../images/lic_icon_valid.gif) 7px 7px no-repeat;
	border: 1px solid #a1c11c;
	border-radius: 15px;
	padding: 10px 10px 10px 30px;
	color: #444444;
	text-align: center;
	display: block;
	width: 200px;
	margin: 0 auto;
}

.cpanel .djlic_box .djlic_valid .djlic_vline1 {
	font-size: 14px;
	text-transform: uppercase;
}

.cpanel .djlic_box .djlic_valid .djlic_vline2 {
	text-transform: uppercase;
	margin-top: 3px;
	font-size: 10px;
}
/*.lic_manager{
	border: 1px solid red;
	width: 600px;
	margin: 0 auto;
}*/
.lic_manager h3 {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	margin: 20px 0;
}

.lic_manager .lic_details {
	width: 400px;
	margin: 0 auto;
}

.lic_manager .lic_details .lic_drow {
	border-bottom: 1px solid #e8e8e8;
	color: #444444;
	font-size: 12px;
	line-height: 41px;
}

.lic_manager .lic_details .lic_drow.last {
	border-bottom: none;
}

.lic_manager .lic_details .lic_drow span {
	margin-right: 20px;
	width: 80px;
	text-align: right;
	font-weight: bold;
	display: inline-block;
}

.lic_manager .lic_details .lic_drow .inputbox {
	border-radius: 4px;
	height: 15px;
	padding: 1px 5px;
}

.lic_manager .lic_details .lic_drow.lic_status_row span {
	float: left;
}

.lic_manager .lic_details .lic_status_box {
	float: left;
	width: 228px;
	background: #fbd2d3 url(../images/lic_icon_invalid.gif) 7px 7px
		no-repeat;
	border: 1px solid #ed1c24;
	border-radius: 15px;
	padding: 10px 10px 10px 30px;
	color: #444444;
	text-align: center;
	display: block;
	margin: 8px 0;
}

.lic_manager .lic_details .lic_status_box.lic_valid {
	background: #ecf3d2 url(../images/lic_icon_valid.gif) 7px 7px no-repeat;
	border: 1px solid #a1c11c;
	border-radius: 15px;
	padding: 10px 10px 10px 30px;
	color: #444444;
	text-align: center;
	display: block;
	width: 200px;
	margin: 8px 0;
}

.lic_manager .lic_details .lic_status_box .lic_srow1 {
	line-height: 15px;
	color: #ed1c24;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.lic_manager .lic_details .lic_status_box .lic_srow2 {
	line-height: 15px;
	color: #444444;
	font-size: 10px;
	text-transform: uppercase;
}

.lic_manager .lic_details .lic_status_box.lic_valid .lic_srow1 {
	font-size: 14px;
	text-transform: uppercase;
	color: #444444;
}

.lic_manager .lic_details .lic_status_box.lic_valid .lic_srow2 {
	text-transform: uppercase;
	margin-top: 3px;
	font-size: 10px;
}

.lic_manager .lic_details .lic_status_box .lic_srow2 a {
	color: #fa8030;
}

.lic_manager .lic_details .lic_buttons {
	text-align: right;
	padding-right: 25px;
	margin-bottom: 25px;
}

.lic_manager .lic_details .button {
	background: url(../images/lic_button_bg.gif) top left repeat-x;
	border: 1px solid #000000;
	border-radius: 4px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	padding: 2px 9px;
	margin-right: 5px;
}

.lic_extensions_box h3 {
	font-size: 19px;
	font-weight: bold;
	margin: 20px 0;
}

/*
 *	Thumbnail re-creator
 */
.djc_thumbrecreator {
	width: 15%;
	max-width: 400px;
	float: left;
	text-align: left;
}

.djc_thumbrecreator .djc_loader {
	width: 43px;
	height: 11px;
	display: inline-block;
	background: none;
}

.djc_thumbrecreator .djc_loader_loading {
	background: url(../images/loader_squares.gif) center center no-repeat;
}

.djc_thumbrecreator #djc_progress_bar_outer {
	position: relative;
	border: 1px solid #ccc;
	height: 20px;
	background: #fff;
	margin: 5px 0 25px 0;
	padding: 0;
}

.djc_thumbrecreator #djc_progress_bar {
	height: 100%;
	width: 0;
	background: #bbb;
	margin: 0;
	float: left
}

.djc_thumbrecreator #djc_progress_percent {
	text-align: center;
	line-height: 1.5;
	margin: 0 auto;
	font-size: 1.2em;
	font-weight: bold;
}