.icon-48-partners {
      background-image: url(../images/l_partners.png);
      padding-left:60px!important;
}

.icon-48-partner {
      background-image: url(../images/l_partners.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}